@import "../../styles/variables.scss";

.home__header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 30px;
	background-color: $purple;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	a {
		font-weight: bold;
		text-decoration: none;
		color: $text-lighter;
	}

	.header__link--active {
		color: $green;
		border-bottom: 1px solid $green;
	}
}

@media only screen and (min-width: 768px) {
	.home__header {
		margin-top: 0;
		padding: 20px 40px;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}
}

@media only screen and (min-width: 1200px) {
	.home__header {
		font-size: $font-size-xs;
	}
}

@media only screen and (min-width: 1900px) {
	.home__header {
		font-size: $font-size-s;
	}
}

@media only screen and (min-width: 3840px) {
	.home__header {
		font-size: $font-size-l;
	}
}
