@import "../../styles/variables.scss";

.home__header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 30px;

	a {
		font-weight: bold;
		text-decoration: none;
		color: $text-lighter;
	}

	.header__link--active {
		color: $text;
		border-bottom: 1px solid $text;
	}
}

@media only screen and (min-width: 768px) {
	.home__header {
		font-size: $font-size-s;
		margin-top: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.home__header {
		font-size: $font-size-m;
	}
}

@media only screen and (min-width: 1200px) {
	.home__header {
		font-size: $font-size-xs;
	}
}
