@import "../../../styles/variables.scss";

.input__wrapper {
	color: $text-color;

	.input__email,
	.input__password {
		padding: 10px 20px;
		display: flex;
		margin: 10px 0;
		border-radius: 15px;
		border: $input-border-color 0.5px solid;
		background-color: $input-background-color;

	}
	.input__error {
		border: 1px solid $input-error-color;
	}

	.input__message {
		color: $input-error-color;
		font-size: $fontSize-280px-smaller;
		text-align: center;
	}
}

@media only screen and (min-width: 1024px) {
	.input__wrapper {
		.input__email,
		.input__password,
		.input__error {
			font-size: $fontSize-1024px;
			margin-top: 20px;
			padding: 20px 40px;
		}

		.input__message{
			font-size: $fontSize-1024px-smaller;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.input__wrapper {
		.input__email,
		.input__password,
		.input__error {
			font-size: $fontSize-1200px;
			padding: 10px 20px;
		}

		.input__message {
			font-size: $fontSize-1200px-smaller;
		}
	}
}
