@import "../../../styles/variables.scss";

.button {
	padding: 8px 10px;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid $gray-color;

	svg {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $font-size-xs;
	}

	&--primary {
		background-color: $button-primary-background-color;
		color: $button-text-color;
	}

	&--secondary {
		color: $button-secondary-text-color;
		background-color: transparent;
	}

	&--gray {
		color: $text-gray-color;
		font-weight: 400;
	}

	&--disabled {
		background-color: $button-disabled-background-color;
		color: $button-disabled-text-color;
	}
}

@media only screen and (min-width: 768px) {
	.button {
		font-size: $font-size-xs;
	}
}

@media only screen and (min-width: 1024px) {
	.button {
		padding: 15px 30px;
	}
}

@media only screen and (min-width: 1200px) {
	.button {
		padding: 5px 10px;
	}
}
