@import "../../../styles/variables.scss";

.button {
	padding: 8px 10px;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid $gray;

	svg {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $font-size-xs;
	}

	&--primary {
		background-color: $blue-light;
		color: $button-text-light;
	}

	&--secondary {
		color: $blue-light;
		background-color: transparent;
	}

	&--noBackground {
		color: $text-lighter;
		font-weight: 400;
	}

	&--noBackground,
	&--alert {
		background-color: noBackground;
	}

	&--alert {
		color: $red;
		border: 0.5px solid $red;
	}

	&--success {
		color: $white;
		background-color: $green;
		border: none;
	}

	&--exit {
		color: $button-text-light;
		background-color: transparent;
		display: flex;
		align-items: center;
		border: 1px solid $gray;

		svg {
			font-size: $font-size-m;
		}
	}

	&--disabled {
		background-color: $button-disabled-background;
		color: $button-disabled-text;
	}
}

@media only screen and (min-width: 768px) {
	.button {
		font-size: $font-size-s;
		padding: 10px 20px;

		&--success svg {
			font-size: $font-size-m;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.button {
		padding: 15px 30px;
		font-size: $font-size-m;
	}
}

@media only screen and (min-width: 1200px) {
	.button {
		padding: 5px 10px;
		font-size: $font-size-xs;

		&--success svg {
			font-size: $font-size-xs;
		}
	}
}
