@import "../../../styles/variables.scss";

.button {
	padding: 8px 10px;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid $gray-color;

	svg {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $font-size-xs;
	}

	&--primary {
		background-color: $button-primary-background-color;
		color: $button-text-color;
	}

	&--secondary {
		color: $button-secondary-text-color;
		background-color: transparent;
	}

	&--gray,
	&--transparent {
		color: $text-gray-color;
		font-weight: 400;
	}

	&--transparent,
	&--red {
		background-color: transparent;
	}

	&--red {
		color: $red-color;
		border: 0.5px solid $red-color;
	}

	&--greenIcon {
		color: $white-color;
		background-color: $green-color;
		border: none;
	}

	&--grayicon {
		color: $button-text-color;
		background-color: transparent;
		display: flex;
		align-items: center;
		border: 1px solid $gray-color;

		svg {
			font-size: $font-size-m;
		}
	}

	&--disabled {
		background-color: $button-disabled-background-color;
		color: $button-disabled-text-color;
	}
}

@media only screen and (min-width: 768px) {
	.button {
		font-size: $font-size-s;
		padding: 10px 20px;

		&--greenIcon svg {
			font-size: $font-size-m;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.button {
		padding: 15px 30px;
		font-size: $font-size-m;
	}
}

@media only screen and (min-width: 1200px) {
	.button {
		padding: 5px 10px;
		font-size: $font-size-xs;
	}
}
