@import "../../styles/variables.scss";

.search {
	height: 100vh;
	width: 100vw;

	.main {
		color: $text;

		.searchbar {
			margin-bottom: 40px;

			&__header {
				margin-bottom: 20px;
			}
		}

		.medicines__header {
			margin-bottom: 20px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.search .main .medicines__header {
		margin-bottom: 60px;
	}

	.search .main .searchbar {
		margin-bottom: 60px;

		&__header {
			margin-bottom: 60px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.search .main__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
	}
}

@media only screen and (min-width: 1920px) {
	.search .main__list {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
	}
}

@media only screen and (min-width: 3840px) {
	.search .main__list {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: auto;
	}
}
