@import "../general/variables.scss";

.shape_container {
	background-color: $background-color-light;
	margin-top: 4rem;
	@include flex-align-center;
	flex-direction: column;
	width: 100vw;
	height: 60%;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
}

@media only screen and (min-width: 430px) {
	.shape_container {
		height: 70%;
	}
}

@media only screen and (min-width: 768px) {
	.shape_container {
		position: relative;
		border-radius: 50px;
		max-width: min-content;
		padding: 2rem 8rem;
	}
}