@import "../styles/variables.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: $white;
}

h1 {
	font-size: $font-size-xs-h1;
}

h2 {
	font-size: $font-size-xs-h2;
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: $font-size-s-h1;
	}

	h2 {
		font-size: $font-size-s-h2;
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: $font-size-m-h1;
	}

	h2 {
		font-size: $font-size-m-h2;
	}
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: $font-size-s-h1;
	}

	h2 {
		font-size: $font-size-xs-h2;
	}
}
