@import "../styles/variables.scss";

.home {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	&__additional__info {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		font-size: $font-size-xs;

		.additional__info {
			&__text {
				color: $text-gray-color;
				margin-right: 5px;
			}

			&__link {
				a {
					text-decoration: none;
					color: $text-blue-color;
					font-weight: bold;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home__additional__info {
		font-size: $font-size-s;
		margin-top: 30px;
	}
}

@media only screen and (min-width: 1200px) {
	.home__additional__info {
		font-size: $font-size-xs;
	}
}
