@import "../styles/general/variables.scss";

.main {
	@include flex-align-center;
	flex-direction: column;
	justify-content: space-between;
	padding: $padding-280px;

	&_form_container {
		margin: 4rem 0 2rem 0;
	}

	&_ps {
		font-size: $fontSize_smaller;
		margin-top: 2rem;
		color: $text-gray-color;
		@include flex-align-center;
		gap: 4px;

		.link {
			a {
				text-decoration: none;
				color: $text-blue-color;
			}
		}
	}
}
