@import "../styles/variables.scss";

.home {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	&__additional__info {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		font-size: $fontSize-280px-smaller;

		.additional__info {
			&__text {
				color: $text-gray-color;
				margin-right: 5px;
			}

			&__link {
				a {
					text-decoration: none;
					color: $text-blue-color;
					font-weight: bold;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.home {
		&__additional__info {
			margin-top: 40px;
			font-size: $fontSize-1024px-smaller;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.home {
		&__additional__info {
			font-size: $fontSize-1200px-smaller;
		}
	}
}
