@import "../../../styles/variables.scss";

.card {
	background-color: $background-color-light;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100px;
	height: min-content;
	margin: 5px;
	border-radius: 20px;
	color: $text-gray-color;
	padding-bottom: 15px;
	font-size: $font-size-xs;

	.header {
		background-color: $background-color-yellow;
		width: 100%;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	.main {
		padding: 10px;
		font-weight: bold;

		&__name,
		&__dosage {
			padding: 2px;
			text-align: center;
		}
	}

	.btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		&__icon {
			display: flex;
			justify-content: center;
		}
	}
}

@media only screen and (min-width: 768px) {
	.card {
		margin: 0 auto 15px auto;
		width: 200px;

		.header {
			font-size: $font-size-s;
		}

		.main {
			padding: 50px;
			font-size: $font-size-s;
		}

		.btns {
			&__icon {
				display: flex;
				justify-content: center;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.card {
		width: 200px;
		font-size: $font-size-xs;

		.header {
			font-size: $font-size-xs;
		}

		.main {
			font-size: $font-size-xs;
			padding: 8px;
		}

		.btns {
			display: block;
			margin-top: 10px;

			a {
				margin-right: 5px;
			}

			&__icon {
				margin-top: 5px;
			}
		}
	}
}
