@import "../../../styles/variables.scss";

.home__form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
	gap: 10px;
}

@media only screen and (min-width: 1024px) {
	.home__form {
		margin-top: 100px;
		font-size: $fontSize-1024px;
	}
}

@media only screen and (min-width: 1200px) {
	.home__form {
		font-size: $fontSize-1200px;
	}
}
