@import "../../../styles/variables.scss";

.logo {
	font-weight: bold;
	display: flex;
	align-items: center;
	margin: 30px 0;
	color: $green-darker;
}

@media only screen and (min-width: 768px) {
	.logo {
		margin: 100px 0;
		font-size: $font-size-s;
	}
}

@media only screen and (min-width: 1024px) {
	.logo {
		font-size: $font-size-m;
	}
}

@media only screen and (min-width: 1200px) {
	.logo {
		font-size: $font-size-s;
		margin: 0 0 40px 0;
		padding: 20px;
		flex-direction: row-reverse;
		width: 100vw;
		justify-content: start;
	}
}
