@import "../../../styles/variables.scss";

.logo {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

@media only screen and (min-width: 768px) {
	.logo {
		margin-top: 200px;
		font-size: $font-size-s;
	}
}

@media only screen and (min-width: 1024px) {
	.logo {
		font-size: $font-size-m;
	}
}

@media only screen and (min-width: 1200px) {
	.logo {
		font-size: $font-size-s;
		margin-top: 0;
		justify-content: flex-start;
		padding: 20px;
	}
}