.layout {
    padding: 30px;
}

@media only screen and (min-width: 414px) {
    .layout {
        padding: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .layout {
        padding: 50px 150px;
    }
}