@import "../../../styles/variables.scss";

.select {
	[class$="-control"] {
		background-color: $yellow-lighter;
		border-radius: 15px;
		border: $gray 0.5px solid;
		font-size: $font-size-xxs;
		color: $text-lighter;
		padding: 5px;
		margin: 10px 0;
	}

	[class$="-singleValue"] {
		color: $text-lighter;
	}

	[class$="-menu"] {
		font-size: $font-size-xxs;
		color: $text-lighter;
		background-color: $yellow-lighter;
		border-radius: 15px;
		border: $gray 0.5px solid;
		padding: 10px;
	}
}

.label {
	color: $text-lighter;
}

@media only screen and (min-width: 768px) {
	.select [class$="-control"] {
		font-size: $font-size-xxs;
		padding: 10px 20px;
	}

	.label {
		font-size: $font-size-xxs;
	}
}

@media only screen and (min-width: 1200px) {
	.select [class$="-option"]:hover {
		background-color: $green-lighter;
	}

	.select [class$="-option"] {
		font-size: $font-size-xs;
	}

	.select [class$="-control"] {
		font-size: $font-size-xs;
	}

	.label {
		font-size: $font-size-xs;
	}
}

@media only screen and (min-width: 1900px) {
	.select [class$="-control"] {
		font-size: $font-size-s;
	}

	.select [class$="-option"] {
		font-size: $font-size-s;
	}

	.label {
		font-size: $font-size-s;
	}
}

@media only screen and (min-width: 3840px) {
	.select [class$="-control"] {
		font-size: $font-size-l;
		padding: 20px;
	}

	.select [class$="-indicators"] {
		font-size: $font-size-l;
	}

	.select [class$="-option"] {
		font-size: $font-size-l;
	}

	.label {
		font-size: $font-size-l;
	}
}
