@import "../../../styles/variables.scss";

.modal {
	position: fixed;
	inset: 0;
	background-color: $background-color-light;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding: 20px;
	z-index: 5;

	&__btn {
		display: flex;
		justify-content: flex-end;
		padding: 10px;
		font-size: $font-size-s;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.modal {
		&__btn {
			font-size: $font-size-m;
			padding: 50px;
		}

		&__form {
			gap: 20px;
			font-size: $font-size-s;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.modal .modal__form {
		margin-top: 20px;
	}
}
