@import "../../../styles/variables.scss";

.home__form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
	gap: 10px;
}

@media only screen and (min-width: 768px) {
	.home__form {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 1200px) {
	.home__form {
		font-size: $font-size-xs;
		margin-top: 70px;
	}
}
