@import "../../styles/general/variables.scss";

.main {
	@include home-wrapper-280px;
	max-height: 100vh;

	&_upper {
		@include flex-align-center;
		flex-direction: column;
		height: 40%;
	}

	&_shape_container {
		background-color: $background-color-light;
		margin-top: 4rem;
		@include flex-align-center;
		flex-direction: column;
		width: 100vw;
		height: 60%;
		border-top-right-radius: 50px;
		border-top-left-radius: 50px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
	}
}
