@import "../../../styles/variables.scss";

.item {
	background-color: $yellow-lighter;
	color: $text;
	width: 100%;
	max-width: 360px;
	border-radius: 15px;
	margin-top: 20px;

	&__desc {
		padding: 10px 20px;

		span {
			font-size: $font-size-xxs;
		}
	}
}

@media only screen and (min-width: 768px) {
	.item {
		margin: 15px auto;

		&__desc {
			span {
				font-size: $font-size-xs;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.item:nth-child(odd) {
		margin-right: 25px;
	}
}

@media only screen and (min-width: 1920px) {
	.item {
		.MuiTypography-root {
			font-size: $font-size-s;
		}
	}
}

@media only screen and (min-width: 3840px) {
	.item {
		.MuiTypography-root {
			font-size: $font-size-l;
		}
	}
}
