@import "../../../styles/variables.scss";

.home__header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 30px;

	a {
		font-weight: bold;
		text-decoration: none;
		color: $text-gray-color;
	}

	.header__link--active {
		color: $text-color;
		border-bottom: 1px solid $text-color;
	}
}

@media only screen and (min-width: 1024px) {
	.home__header {
		font-size: $fontSize-1024px-capitals;
	}
}

@media only screen and (min-width: 1024px) {
	.home__header {
		font-size: $fontSize-1200px-capitals;
	}
}

@media only screen and (min-width: 1200px) {
	.home__header {
		font-size: $fontSize-1200px-capitals;
	}
}