@import "../../styles/variables.scss";

.dashboard {
	background-color: rgb(238, 241, 244);
	height: 100vh;
}

.dashboard .header {
	// background-color: $background-color-dark;
	padding: 30px;
	// color: $text-blue-color-light;
	color: $text-blue-color-dark;

	&__date {
		padding: 5px 0 10px 0;
	}

	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}

.dashboard .main {
	color: $text-color;
}

@media only screen and (min-width: 768px) {
	.dashboard .header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&__date {
			font-size: $font-size-s;
			margin-bottom: 40px;
		}

		&__btn {
			margin-top: 0;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.dashboard .header {
		padding: 50px;

		&__date {
			font-size: $font-size-s;
		}

		&__btn {
			margin-top: 0;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.dashboard .header {
		padding: 20px;

		&__date {
			font-size: $font-size-xs;
		}
	}
}
