@import "../../styles/variables.scss";

.dashboard {
	height: 100vh;
}

.dashboard .main {
	color: $text;

	.pillsList {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.dashboard .main {
		&__header {
			margin-bottom: 60px;
		}

		.pillsList {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.dashboard .main .pillsList {
		grid-template-columns: repeat(4, 1fr);
		gap: 15px;
	}
}

@media only screen and (min-width: 2560px) {
	.dashboard .main .pillsList {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media only screen and (min-width: 2560px) {
	.dashboard .main .pillsList {
		grid-template-columns: repeat(10, 1fr);
	}
}
