//Colors
$text: #404049;
$text-lighter: #666668;

$blue-light: #619de4;
$blue-darker: #4279c0;
$blue-lighter: #c6dcf9;
$blue-lightest: #e7ecfa;
$blue-lightest-rgba: rgba($blue-lightest, 0.6);
$green: #5b6d6b;
$green-lighter: #9dbcba;
$green-darker: #50706c;
$gray: #ccc5c5;
$red: #d1758a;
$white: #f6f1f1;
$yellow: #e9dbc8;
$yellow-lighter: #ebe7e2;
$purple: #e5d0f9;
$purple-lighter: #c89df0;

//Font size
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 24px;
$font-size-m: 28px;
$font-size-l: 36px;
$font-size-xl: 46px;
$font-size-xs-h1: 22px;
$font-size-s-h1: 32px;
$font-size-m-h1: 44px;
$font-size-xs-h2: 18px;
$font-size-s-h2: 26px;
$font-size-m-h2: 36px;
$font-size-l-h2: 40px;

//Button
$button-text-light: #ece6e6;
$button-disabled-background: #f4f0f0;
$button-disabled-text: #30303e;

//Input
$input-border: #808080;
$input-background: #e9ecf2;
